<div class="page" data-name="carregar-dados">
    <div class="page-content">
        <form >
            <div class="list media-list inset ml0 mr0 mb0">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-inner pt0">
                            <div class="item-subtitle">Motorista</div>
                            <div class="item-text" id="txMotorista">xxx</div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner pt0">
                            <div class="item-subtitle fLeft clear">Veículo:</div>
                            <div class="item-text fLeft ml16 mt2 fontweightbold"  id="txVeiculo">-</div>
                        </div>
                    </li> 
                </ul>
                <div class="block hide" id="buscarLiberação">
                    <p class="row">
                        <a onclick="carregarDados();"  id="carregarDados" class="col button button-big button-fill background-color-custom">buscar liberação</a>
                    </p>
                    <p class="row">
                        <a id="carregandoDados" class="col button button-big button-fill background-color-custom hide"><span class="preloader"></span></a>
                    </p>
                </div>
            </div>
        </form>
        <div class="list media-list inset hide mt0 ml0 mr0" id="dados_carga">
            <ul id="beforeCarregarDados">
                <li>
                    <div class="item-link item-content">
                        <div class="item-inner pt0">
                            <div class="item-subtitle fLeft">Nº Liberação:</div>
                            <div class="item-text fLeft ml16 mt2 fontweightbold"  id="spanLiberacao"> - </div>
                            <div class="item-text font11 clear">*As quantidades de caixas foram informadas pelo almoxarifado ao fazer o despacho da carga</div>
                        </div> 
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> 