<div class="page" data-name="cliente">
    <div class="page-content">
        <div class="list media-list inset no-hairlines  no-hairlines-between mt0 ml0 mr0">
            <ul id="recipClienteIni">
                <li class="loadRemove">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title item-search-result fontweight600">--</div>
                            </div>
                            <div class="item-subtitle">--</div>
                            <div class="item-subtitle">--</div>
                        </div>
                    </div>
                </li>
                <li class="loadRemove">
                    <div class="item-content">
                        <div class="item-inner">
                            <a class="col button color-green button-big button-fill"><span class="preloader"></span></a>
                        </div>
                    </div>
                </li>
                <li class="loadRemove">
                    <div class="item-content">
                        <div class="item-inner">
                            <a class="col button color-red button-big button-fill "><span class="preloader"></span></a>
                        </div>
                    </div>
                </li>
                <li class="loadRemove">
                    <div class="item-content">
                        <div class="item-inner">
                            <a   class="col button color-gray button-big button-fill "><span class="preloader"></span></a>
                        </div>
                    </div>
                </li>
                <li class="loadRemove">
                    <div class="item-content">
                        <div class="item-inner">
                            <a  class="col button button-outline button-big text-color-custom border-color-custom"><span class="preloader"></span></a>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="item-content">
                        <div class="item-inner pt0"  id="recipTopoLiberacao">
                            <div class="item-subtitle">Nº Liberação</div>
                            <div class="item-text">xxx</div>
                            <div class="item-subtitle">Veículo</div>
                            <div class="item-text">xxx</div>
                            <div class="item-subtitle">Motorista</div>
                            <div class="item-text">xxx</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>