<div class="page" data-name="consulta-saldo-promotor">
    <div class="page-content">
        <div class="list media-list inset no-hairlines  no-hairlines-between mt0 ml0 mr0">
            <ul id="recipClienteSaldo">
                <li class="loadRemove">
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title item-search-result fontweight600">--</div>
                            </div>
                            <div class="item-subtitle">--</div>
                            <div class="item-subtitle">--</div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="background-gray ml16  mr16 loadRemove">
                <li><div class="pt32 pb32" style="width: 30px;    margin: auto;"><span class="preloader"></span></div></li>
            </ul>
        </div>
    </div>
</div>