<div class="page" data-name="inicial">
    <div class="page-content">
        <div class="list media-list inset ml0 mr0">
            <ul>
                <li>
                    <div class="item-link item-content">
                        <div class="item-inner pt0" id="recipTopoLiberacao">
                            <div class="item-subtitle">Nº Liberação</div>
                            <div class="item-text">xxx</div>
                            <div class="item-subtitle">Veículo</div>
                            <div class="item-text">xxx</div>
                            <div class="item-subtitle">Motorista</div>
                            <div class="item-text">xxx</div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="border-bottom-dotted ml16 mr16"></div>
            <div class="block">
                <p class="row">
                    <a href="/lista-clientes" class="col button button-outline button-big text-color-custom border-color-custom">Iniciar Entrega / Retorno</a>
                </p>
                <p class="row">
                    <a href="/tranferencias" class="col button button-outline button-big text-color-custom border-color-custom">Transferência de Caminhão</a>
                </p>
                <p class="row">
                    <a  class="col button button-outline button-big text-color-gray border-color-gray btSincronizar">Enviar Dados</a>
                </p>
                <p class="row">
                    <a href="javascript:encerrarCarregamento()" class="col button button-outline button-big text-color-custom border-color-custom">Encerrar Carregamento</a>
                </p>
            </div>
        </div>
    </div>
</div>