<div class="page" data-name="lista-clientes">
    <div class="navbar no-shadow">
    </div>
    <div class="toolbar background-color-custom toolbar-bottom-md">
        <div class="toolbar-inner">
            <a onclick="abrirBuscarOutros()" class="link button mlrauto"  >Buscar Outros Clientes</a> 
        </div>
    </div>
    <div class="subnavbar no-shadow">
        <div class="searchbar-backdrop"></div>
        <form class="searchbar">
            <div class="searchbar-inner">
                <div class="searchbar-input-wrap">
                    <input type="search" placeholder="Selecione o cliente" class="searchbarInput">
                    <i class="searchbar-icon"></i>
                    <span class="input-clear-button"></span>
                </div>
            </div>
        </form>
    </div>
    <div class="page-content" id="recipListClientes">
        <span class="preloader"></span>
        <!-- search target list -->

    </div>
</div>