<div class="page" data-name="transferencia-enviada">  
    <div class="page-content" >
        <div class="list media-list inset ml0 mr0">
            <ul>
                <li>
                    <div class="item-link item-content">
                        <div class="item-inner pt0" id="recipTopoLiberacao">
                            <div class="item-subtitle">Nº Liberação</div>
                            <div class="item-text">xxx</div>
                            <div class="item-subtitle">Veículo</div>
                            <div class="item-text">xxx</div>
                            <div class="item-subtitle">Motorista</div>
                            <div class="item-text">xxx</div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="border-bottom-dotted ml16 mr16"></div>
            <div class="block"  id="recipListTransf">
                <span class="preloader"></span>
                <!-- search target list -->
            </div>
        </div>
    </div>
</div>