<div class="page" data-name="transferencias">
    <div class="page-content">
        <div class="list media-list inset ml0 mr0">
            <ul>
                <li>
                    <div class="item-link item-content">
                        <div class="item-inner pt0" id="recipTopoLiberacao">
                            <div class="item-subtitle">Nº Liberação</div>
                            <div class="item-text">xxx</div>
                            <div class="item-subtitle">Veículo</div>
                            <div class="item-text">xxx</div>
                            <div class="item-subtitle">Motorista</div>
                            <div class="item-text">xxx</div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="border-bottom-dotted ml16 mr16"></div>
            <div class="block">
                <p class="row">
                    <a href="/transferencia-caminhao" class="col button button-outline button-big text-color-custom border-color-custom">Efetuar Transferência</a>
                </p>
                <p class="row">
                    <a href="/transferencia-enviada" class="col button button-outline button-big text-color-custom border-color-custom">Transferências Enviadas</a>
                </p>
                <p class="row">
                    <a href="/transferencia-recebida" class="col button button-outline button-big text-color-custom border-color-custom">Transferências Recebidas</a>
                </p>
                <p class="row hide" id="btBaixarTransf">
                    <a href="/transferencia-recebida" class="col button button-outline button-big text-color-custom border-color-custom">Baixar Tranferências</a>
                </p>
            </div>
        </div>
    </div>
</div>