<div class="page"  data-name="transferencia-caminhao">
    <div class="page-content ptr-content">
        <div class="ptr-preloader">
            <div class="preloader"></div>
            <div class="ptr-arrow"></div>
        </div> 
        <div class="list media-list inset ml0 mr0">
            <ul>
                <li>
                    <div class="item-link item-content">
                        <div class="item-inner pt0" id="recipTopoLiberacao">
                            <div class="item-subtitle">Nº Liberação</div>
                            <div class="item-text">xxx</div>
                            <div class="item-subtitle">Veículo</div>
                            <div class="item-text">xxx</div>
                            <div class="item-subtitle">Motorista</div>
                            <div class="item-text">xxx</div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="border-bottom-dotted ml16 mr16"></div>
            <ul id="recipTransferirCaminhao">
                <li><div class="pt32 pb32" style="width: 30px; margin: auto;"><span class="preloader"></span></div></li>
            </ul> 
        </div>
    </div>
</div>