.statusbar-overlay {
    background: #000000;
}

.hide {display: none !important}

.text-color-custom { color: #252598 !important }

.text-color-gray { color: #f2f2f2 !important }

.background-color-custom { background-color: #252598 !important }

.background-gray { background-color: #f2f2f2 !important }

.background-input-gray { background: #f5f5f5 !important }

.background-none { background: none !important }

.background-color-overlay-red{ background: rgba(244,67,54, 0.75) !important; }

.background-color-overlay-green{ background: rgba(76,175,80, 0.75) !important; }

.border-color-gray { border-color: #f2f2f2 !important }

.border-color-custom { border-color: #252598 !important }

.border-bottom-dotted { border-bottom: 1px dotted #252598;}

.border-bottom-solid { border-bottom: 1px solid #252598;}

.border-top-dotted{ border-top: 1px dotted #252598;}

.bolder-all {border: 1px solid}

.pt0 {padding-top: 0 !important}

.pb0 {padding-bottom: 0 !important}

.pl0 {padding-left: 0 !important}

.pr0 {padding-right: 0 !important}

.pt12 {padding-top: 12px !important}

.pb12 {padding-bottom: 12px !important}

.pt16 {padding-top: 16px !important}

.pb16 {padding-bottom: 16px !important}

.pl16 {padding-left: 16px !important}

.pr16 {padding-right: 16px !important}

.pt32 {padding-top: 32px !important}

.pb32 {padding-bottom: 32px !important}

.pl32 {padding-left: 32px !important}

.pr32 {padding-right: 32px !important}

/*.page-content { padding-bottom: 56px !important}*/

.mt0 {margin-top: 0 !important}

.mb0 {margin-bottom: 0 !important}

.ml0 {margin-left: 0 !important}

.mr0 {margin-right: 0 !important}

.mt2 {margin-top: 2px !important;}

.mt16 {margin-top: 16px !important}

.mb16 {margin-bottom: 16px !important}

.ml16 {margin-left: 16px !important}

.mr16 {margin-right: 16px !important}

.mt32 {margin-top: 32px !important}

.mb32 {margin-bottom: 32px !important}

.ml32 {margin-left: 32px !important}

.mr32 {margin-right: 32px !important}

.mlrauto {margin: 0 auto !important}

.w50p {width: 50% !important; float: left}

.wautoFL{width: auto !important; float: left !important}

.w100FL{width: 90px !important; float: left !important}

.w100FR{width: 80px !important; float: right !important}

.font11 {font-size: 11px !important}

.fontweight600{font-weight: 600;}

.fontweightbold{font-weight: bold;}

.fLeft{float: left;}

.fRight{float:Right;}

.clear{clear:both;}

.item-input-focused .text-color-green .item-input-wrap:after,
.text-color-green .input-focused:after {
    background: #4caf50 !important;
}

.item-input-focused .text-color-red .item-input-wrap:after,
.text-color-red .input-focused:after {
    background: #f44336 !important;
}

.item-input-focused .text-color-custom .item-input-wrap:after,
.text-color-custom .input-focused:after {
    background: #252598 !important;
}

.text-color-green .item-input-wrap:after {  background-color: rgba(76,175,80, 0.12) !important; border-bottom-color: #4caf50 !important;}

.text-color-red .item-input-wrap:after {  background-color: rgba(244,67,54, 0.12) !important; border-bottom-color: #f44336 !important;}

.text-color-custom .item-input-wrap:after {  background-color: rgba(37,37,152, 0.12) !important; border-bottom-color: #252598 !important;}

.item-input-focused .item-label,
.item-input-focused .item-floating-label {
    color: #333 !important;
}

.item-input-focused .item-input-wrap:after,
.input-focused:after {
    background: #333 !important;
}

.item-input-invalid .item-label,
.item-invalid .item-label,
.item-input-invalid .item-floating-label,
.item-invalid .item-floating-label {
    color: #333 !important;
}

textarea {height: 50px !important;}

.searchbar-input-wrap .input-with-value {padding-left: 16px !important; padding-right: 16px !important;}

.input-error {border-bottom: 1px solid #f44336 !important;}

.li-header-green {color: #ffffff; border-radius: 4px 4px 0 0; background-color: #4caf50}

.li-header-red {color: #ffffff; border-radius: 4px 4px 0 0; background-color: #f44336}

.li-header-custom {color: #ffffff; border-radius: 4px 4px 0 0; background-color: #252598}

.text-color-green .item-label,.text-color-green input {color: #4caf50 !important;}

.text-color-red .item-label, .text-color-red input {color: #f44336 !important;}

.text-color-custom .item-label, .text-color-custom input {color: #252598 !important;}

/*label*/
.md .item-label, .md .item-floating-label{
    font-size: 16px;
}

.md .item-label, .md .item-floating-label{
    font-size: 16px;
}

.md .list .item-subtitle{
    font-size: 18px;
}

.md .list .item-text{
    font-size: 18px;
}

.md .list{
    font-size: 20px;
}

.button{
    font-size: 22px;
}